!.gitignore
.*

*.exe
*.manifest
*.o
*.obj
*.user
*.a

moc_*

/Makefile*
/OpenGOO
/doc

*.user*
*.ilk
*.pdb
Makefile*
*.dll
*.exp
*.lib
*libs/*.lib
src/extlibs/libs/*.lib
start.bat

*object_script.*
src/opengoo/release/qrc_resources.cpp
src/opengoo/debug/qrc_resources.cpp
*.dylib
